<article class="post-home">
    <div class="post-container">
        <div class="home-avatar-container">
            <img src="{{user.avatar}}" alt="user avatar">
        </div>
        <div class="post-info-container">
            <div class="title">
                <a href="/post/{{id}}">{{title}}</a>
            </div>
            <div class="meta">
                {{!-- format_plural takes two arguments so we pass 'point' as the first and 'vote_count' as the second --}}
                {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on
                {{format_date created_at}}
                |
                <a href="/post/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
            </div>
        </div>

    </div>
</article>